<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book_Space | About</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="Nav.css"> -->
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    

    <link rel="stylesheet" href="css/BS_about.css">
    <style>
       
    </style>
</head>
<body>
    <nav>
        <div class="logo"><img src="Image/Logo.png" height="70px" width="70px"></div>
        <input type="checkbox" name="" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <a href="BS_homepage"><li>Home</li></a>
            <a href="BS_about"><li>About</li></a>
            <!-- <a href="#"><li>Services</li></a> -->
            <a href="BS_contact"><li>Contacts</li></a>
            <a href="BS_feedback"><li>FeedBack</li></a>
        </ul>
    </nav>
    <div class="main">
        <img src="Image/Logo2.png" class="center">
        <p class="para">Book_Space is a organization that provide books to some needy peoples in Free of Cost. The main idea of this organization is to help the peoples near about ourself. In this organization two platforms are available one for DONATE BOOK and another one for GET BOOK. In Donate book platform user can give book that is useless for him hoping that this book helps for others. In Get Book platform users can see diffrent books available and if user want any book the phone number and address of owner seeing user can directly contact with the owner and get book. <br><b> NOTE : (i)</b> If owner is too far then he will courrier the books at your place but courrier charges paid by those who want book. <br> <b>  (ii)</b> If any case user did not contact the owner then it will go to the contact section admin contacts and emails id shown user can contact us and also user can fill one form in same contact page in which it will give Book_Space_id which book he/she want. </p>
    </div>
   
     
      <!-- testimonial     -->
      <div class="testinomial">
        <h1 class="founder">Our Founders</h1><br><br>
        <div class="small-container">
            
            <div class="row">
                <div class="col-3"> 
                        <img src="Image/Anshul.jpg" alt="">
                        <h3>Anshul Kumar</h3>
<br>
                        <i class="fa fa-quote-left"></i>
                        <p>The main objective of creating this organization is to helping students in daily life. You can easily find or donate books through this organization. The main feature of this organization is we provide books free of cost. ThankYou !!</p>
                </div>
                <div class="col-3">
                        <img src="Image/rishabh.jpeg" alt="">
                        <h3>Rishabh Kumar</h3>
                        <br>
                        <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
                         commodi neque nobis error id eaque officia earum illo quis inventore? 
                         Laudantium laborum ullam sint ducimus aspernatur at eum sunt veritatis.</p>
                </div>
            </div>
        </div>
    </div>

      <!-- footer  -->
      <div class="footer" id="scroll">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3 id="head" class="head2">Our Objetive</h3>
                    <p>Book_Space is a organization that provide books to some needy peoples in Free of Cost. The main idea of this organization is to help the peoples near about ourself.In this organization two platforms are available one for DONATE BOOK and another one for GET BOOK. </p>
                    
                </div>
                <div class="footer-col-2">
                   <img src="Image/Logo2.png">
                   <p>Thanks For Visiting.</p>
               </div>
               <div class="footer-col-3">
                   <h3 class="head2">Useful Links</h3>
                   <a href="BS_homepage">Home</a><br>
                   <a href="BS_about">About</a><br>
                   <a href="BS_contact">Contacts</a><br>
                   <a href="BS_feedback">FeedBack</a><br>
                  
               </div>
               <div class="footer-col-4">
                   <h3 class="head2">Follow Us</h3>
                   <a href="#"> Facebook</a><br>
                   <a href="#">Twitter</a><br>
                   <a href="#">Instagram</a><br>
                   <a href="#">Youtube</a><br>
               </div>
            </div>
        </div>
    </div>
</body>
</html>