<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book_Space | Home Page</title>
    <link rel="stylesheet" href="css/BS_Home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <style>
        .main{
            background-image: url('Image/Book1.jpg');
        }
    </style>
</head>
<body>
    <nav>
        <div class="logo"><img src="Image/Logo.png" height="70px" width="70px"></div>
        <input type="checkbox" name="" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <a href="BS_homepage"><li>Home</li></a>
            <a href="BS_about"><li>About</li></a>
            <a href="#"><li>Services</li></a>
            <!-- <a href="BS_contact"><li>Contacts</li></a> -->
            <a href="BS_feedback"><li>FeedBack</li></a>
        </ul>
    </nav>

    <div class="main">
        <div class="main2">
            <div class="main3">
            <img src="Image/Logo2.png" alt="" height="200px" width="200px">
            </div>
            <div class="main4">
                <h1>Welcome to Book_Space</h1>
                <p id="para">Get Your Own Reading</p><br><br>
                <a href="BS_about">
                <button class="btn">Know More</button></a>
            </div>
        </div>
    </div>

    <div class="con-2">
        <!-- testimonial     -->
 <div class="testinomial">
   <h1 class="founder"></h1><br><br>
   <div class="small-container">
       
       <div class="row">
           <div class="col-3"> 
            <a href="BS_Bookdonate" style="text-decoration: none;">
               <h1>Donate Books</h1><br>
               
                   <img src="Image/book2.gif" alt=""></a>
<br><br><br>
                   <i class="fa fa-quote-left"></i>
                   <p>If you want to donate or give books to others then click on this and fill the form and give some information. ThankYou !!</p>
           </div>
           <div class="col-3">
               <a href="BS_Buybook" style="text-decoration: none;">
               <h1>Get Books</h1><br>
                   <img src="Image/Book3.gif" alt="" height="340px"></a>
                  
                   <br><br>
                   <i class="fa fa-quote-left"></i>
               <p>If you search for any books then please check this list may be the book you search is available in this organization. ThankYou !!</p>
           </div>
       </div>
   </div>
</div>
</div>
    
 <!-- footer  -->
 <div class="footer" id="scroll">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3 id="head" class="head2">Our Objetive</h3>
                <p>Book_Space is a organization that provide books to some needy peoples in Free of Cost. The main idea of this organization is to help the peoples near about ourself.In this organization two platforms are available one for DONATE BOOK and another one for GET BOOK. </p>
                
            </div>
            <div class="footer-col-2">
               <img src="Image/Logo2.png">
               <p>Thanks For Visiting.</p>
           </div>
           <div class="footer-col-3">
               <h3 class="head2">Useful Links</h3>
               <a href="BS_homepage">Home</a><br>
                   <a href="BS_about">About</a><br>
                   <a href="BS_contact">Contacts</a><br>
                   <a href="BS_feedback">FeedBack</a><br>
           </div>
           <div class="footer-col-4">
               <h3 class="head2">Follow Us</h3>
               <a href="#">Facebook</a><br>
               <a href="#">Twitter</a><br>
               <a href="#">Instagram</a><br>
               <a href="#">Youtube</a><br>
           </div>
        </div>
    </div>
</div>

</body>
</html>